/* Admin tools */
.admin-tools {
  position: fixed;
  left: 2.5rem;
  bottom: 2rem;
  z-index: 1;
}

.admin-tools .tools {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 10em;
  width: 75px;
  height: 225px;
  background: #fff;
  border-radius: 50px;
  opacity: 0;
  transition: all 0.5s;
}

.admin-tools .tools.active {
  opacity: 1;
  top: -15.5em;
  transition: all 0.5s;
}

.admin-tools .tools .tool {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background: #eee;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.admin-tools .tools .tool .amount {
  position: absolute;
  top: -7.5px;
  right: -7.5px;
  background: red;
  width: 25px;
  height: 25px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 12px;
}

.admin-tools .tools .tool:not(:last-child) {
  margin-bottom: 1rem;
}

.admin-tools .tools .tool a {
  color: inherit;
  text-decoration: none;
  line-height: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin-tools .tools .tool .tool-label {
  position: absolute;
  margin-left: 12.5rem;
  background: #fff;
  font-weight: 500;
  padding: .5rem 1rem;
  border-radius: 50px;
  opacity: 0;
  transition: all 0.5s;
}

.admin-tools .tools .tool:hover .tool-label {
  opacity: 1;
  transition: all 0.5s;
}

.tool-icon {
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  filter: drop-shadow(0px 14px 24px rgba(0, 0, 0, 0.7));
}

.tool-icon svg {
  font-size: 2em;
  position: relative;
  top: -2px;
}

/* Submit button */
.upload-icon {
  position: fixed;
  right: 4rem;
  bottom: 2rem;
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  filter: drop-shadow(0px 14px 24px rgba(0, 0, 0, 0.7));
  z-index: 1;
}

.upload-icon a {
  color: inherit;
  text-decoration: none;
  line-height: 0;
}

.upload-icon svg {
  font-size: 2em;
  position: relative;
  top: -2px;
}

/* Filter button */
.filter-icon {
  position: fixed;
  right: 4rem;
  bottom: 2rem;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  filter: drop-shadow(0px 14px 24px rgba(0, 0, 0, 0.7));
  z-index: 1;
}

.filter-icon a {
  color: inherit;
  text-decoration: none;
  line-height: 0;
}

.filter-icon svg {
  font-size: 1em;
  position: relative;
  top: .5px;
}