.modal {
  position: relative;
  z-index: 1;
}

.modal .ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.6) !important;
  backdrop-filter: blur(3.5px);
  transition: all 1s;
}

.modal .ReactModal__Content {
  background: transparent !important;
  border: none !important;
}

.modal .modal-close {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  font-size: 32px;
  cursor: pointer;
}

.detail-container {
  display: flex;
  align-items: center;
}

.detail-container .poster-image {
  margin-right: 3rem;
  width: 140%;
}

.detail-container .poster-image img {
  width: 100%;
}

.detail-container .poster-image img {
  filter: drop-shadow(0px 14px 6px rgba(0, 0, 0, 0.7));
  margin-right: 2rem;
}

.detail-container .poster-content {
  color: #fff;
}

.detail-container .poster-content .meta {
  display: flex;
}

.detail-container .poster-content p {
  font-family: 'Roboto', sans-serif;
  line-height: 35px;
}

.detail-container .poster-content .meta > span {
  font-size: 42px;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 1.25;
  margin-right: 1rem;
}

.detail-container .poster-content .event-time {
  margin-right: 1rem;
}

.detail-container .poster-content .event-time, .detail-container .poster-content .event-location {
  display: flex;
  flex-direction: column;
}
