/* form {
  max-width: 500px;
  width: 100%;
  margin-top: 2.5rem;
} */

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-control {
  font-family: "Roboto" ,sans-serif;
  font-size: 14px;
  font-weight: 300;
  background: rgba(34, 34, 34, 0.86);
  padding: 1.25rem;
  margin: 0;
  box-shadow: 0px 14px 24px rgba(0, 0, 0, 0.7);
  border-radius: 6px;
  padding: 1rem 1.25rem;
  border: none;
  width: 100%;
  color: #fff;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255, 255, 255, 0.5);
  opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(255, 255, 255, 0.5);
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(255, 255, 255, 0.5);
}

.form-group {
  margin-bottom: 17px;
}

.btn {
  margin-top: 0.5rem;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  color: #fff;
  padding: 1rem;
  font-size: 18px;
  border-radius: 6px;
  background: linear-gradient(45deg, #444, #272727);
  width: auto;
  cursor: pointer;
  box-shadow: 0px 14px 24px rgba(0, 0, 0, 0.35);
  -webkit-transition: box-shadow 0.2s linear;
     -moz-transition: box-shadow 0.2s linear;
       -o-transition: box-shadow 0.2s linear;
          transition: box-shadow 0.2s linear;
}

.btn:hover {
  box-shadow: 0px 14px 32px rgba(0, 0, 0, 0.65);
  -webkit-transition: box-shadow 0.2s linear;
     -moz-transition: box-shadow 0.2s linear;
       -o-transition: box-shadow 0.2s linear;
          transition: box-shadow 0.2s linear;
}

.action-btn {
  justify-content: center;
}

.action-btn.btn-success {
  background: #22bb33;
  width: 100%;
}

.action-btn.btn-reject {
  background: #f0ad4e;
  width: 100%;
}

.action-btn.btn-delete {
  background: #bb2124;
  width: 100%;
}

.action-buttons {
  display: flex;
}

/* Material UI */
.MuiSvgIcon-root {
  color: #fff;
}

.MuiPickersCalendarHeader-iconButton .MuiSvgIcon-root {
  color: #000;
}

.MuiFormControl-root {
  width: 100%;
}

.MuiFormLabel-colorSecondary.Mui-focused {
  color: #fff !important;
}

.MuiOutlinedInput-colorSecondary.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: rgba(255,255,255,0.25) !important;
}

.MuiOutlinedInput-input, .MuiInputBase-adornedEnd {
  color: #fff !important;
  box-shadow: 0px 14px 24px rgba(0, 0, 0, 0.7);
  background: rgba(0,0,0,0.75) !important;
  border-radius: 6px;
  padding: 20px 14px !important;
}

.MuiInput-underline:before {
  border-bottom: 1px solid rgba(255,255,255,0.25) !important;
}

.MuiInput-underline:after {
  border-bottom: 1px solid rgba(255,255,255,0.25) !important;
}

.MuiInputBase-adornedEnd {
  padding: 12.5px 14px;
  border: 1px solid rgba(255,255,255,0.25) !important;
}

.MuiOutlinedInput-notchedOutline {
  border-color: rgba(255,255,255,0.25) !important;
}

.MuiInputLabel-outlined {
  color: rgba(255,255,255,0.5) !important;
}

.MuiInputBase-input {
  font-size: 0.825em !important;
}

.MuiInputBase-inputAdornedEnd {
  padding: 0 !important;
}

/* Chip input */
.WAMuiChipInput-chipContainer-8, [name="acts"] > div {
  color: #fff !important;
  box-shadow: 0px 14px 24px rgba(0, 0, 0, 0.7);
  background: rgba(0,0,0,0.75) !important;
  border-radius: 6px;
  border: 1px solid rgba(255,255,255,0.25) !important;
  border-color: rgba(255,255,255,0.25) !important;
  align-items: center !important;
}

.WAMuiChipInput-chip-20 {
  margin-left: 0.5rem !important;
  margin-right: 0 !important;
  margin-top: 0.5rem !important;
  background: #2c2c2c !important;
  color: #fff !important;
}

.WAMuiChipInput-input-7 {
  padding: 18.5px 14px !important;
}

.WAMuiChipInput-inputRoot-6 {
  margin-left: 0.5rem !important;
}

.MuiChip-deletable:focus {
  background-color: #000;
  color: #fff;
}

.MuiChip-deleteIcon {
  color: #fff !important;
}

.WAMuiChipInput-underline-18:after {
  border-bottom: 2px solid transparent !important;
}

.MuiInputBase-input {
  color: #fff !important;
  padding: 18.5px 14px;
}

input#acts {
  padding: 18.5px 14px !important;
  font-size: 1em !important;
}

/* Places API input */
.pac-target-input {
  color: #fff !important;
  box-shadow: 0px 14px 24px rgb(0 0 0 / 70%);
  background: rgba(0,0,0,0.75) !important;
  border-radius: 6px;
  padding: 20px 14px !important;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 1em !important;
  border: 1px solid rgba(255,255,255,0.25);
  color: currentColor;
  width: 94.5%;
  height: 1.1876em;
  margin: 0;
  display: block;
  padding: 6px 0 7px;
  min-width: 0;
  background: none;
  box-sizing: content-box;
  animation-name: mui-auto-fill-cancel;
  letter-spacing: inherit;
  animation-duration: 10ms;
  -webkit-tap-highlight-color: transparent;
}

/* Textarea */
textarea {
  font-family: "Roboto" ,sans-serif;
  font-size: 1rem;
  font-weight: 300;
  width: 100%;
  padding: 18.5px 14px;
  color: #fff !important;
  box-shadow: 0px 14px 24px rgba(0, 0, 0, 0.7);
  background: rgba(0,0,0,0.75) !important;
  border-radius: 6px;
  border: 1px solid rgba(255,255,255,0.25) !important;
  border-color: rgba(255,255,255,0.25) !important;
}

/* ============

DETAIL FORM & SUBMIT FORM

============ */
.slide-out {
  position: absolute;
  right: -100%;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  display: none;
}

.slide-out.opened {
  right: 0;
  opacity: 1;
  display: flex;
  overflow-y: scroll;
  height: 100%;
  position: fixed;
  overflow-x: hidden;
}

.slide-out .modal-close-btn {
  position: absolute;
  right: 80px;
  top: 80px;
  color: #fff;
  font-size: 52px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .slide-out {
    height: inherit;
    align-items: flex-start;
  }
  .slide-out .modal-close-btn {
    position: absolute;
    right: 25px;
    top: 35px;
    color: #fff;
    font-size: 32px;
    cursor: pointer;
    font-weight: 300;
    z-index: 5;
  }
}
