/* form {
  max-width: 500px;
  width: 100%;
  margin-top: 2.5rem;
} */

.form-control {
  font-family: "Roboto" ,sans-serif;
  font-size: 14px;
  font-weight: 300;
  background: rgba(34, 34, 34, 0.86);
  padding: 1.25rem;
  margin: 0;
  box-shadow: 0px 14px 24px rgba(0, 0, 0, 0.7);
  border-radius: 6px;
  padding: 1rem 1.25rem;
  border: none;
  width: 100%;
  color: #fff;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255, 255, 255, 0.5);
  opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(255, 255, 255, 0.5);
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(255, 255, 255, 0.5);
}

.form-group {
  margin-bottom: 17px;
}

.btn {
  margin-top: 0.5rem;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  color: #fff;
  padding: 1rem;
  font-size: 18px;
  border-radius: 6px;
  background: #C5A47E;
  width: auto;
  cursor: pointer;
  box-shadow: 0px 14px 24px rgba(0, 0, 0, 0.35);
}

.action-btn {
  justify-content: center;
}

.action-btn.btn-success {
  background: #22bb33;
  width: 100%;
}

.action-btn.btn-reject {
  background: #f0ad4e;
  width: 100%;
}

.action-btn.btn-delete {
  background: #bb2124;
  width: 100%;
}

.action-buttons {
  display: flex;
}

/* Material UI */
.MuiFormControl-root {
  width: 100%;
}

.MuiFormLabel-colorSecondary.Mui-focused {
  color: #fff !important;
}

.MuiOutlinedInput-colorSecondary.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: rgba(255,255,255,0.25) !important;
}

.MuiOutlinedInput-input {
  color: #fff !important;
  box-shadow: 0px 14px 24px rgba(0, 0, 0, 0.7);
  background: rgba(0,0,0,0.75) !important;
  border-radius: 6px;
}

.MuiOutlinedInput-notchedOutline {
  border-color: rgba(255,255,255,0.25) !important;
}

.MuiInputLabel-outlined {
  color: rgba(255,255,255,0.5) !important;
}

/* Chip input */
.WAMuiChipInput-chipContainer-8 {
  color: #fff !important;
  box-shadow: 0px 14px 24px rgba(0, 0, 0, 0.7);
  background: rgba(0,0,0,0.75) !important;
  border-radius: 6px;
  border: 1px solid rgba(255,255,255,0.25) !important;
  border-color: rgba(255,255,255,0.25) !important;
  align-items: center !important;
}

.WAMuiChipInput-chip-20 {
  margin-left: 0.5rem !important;
  margin-right: 0 !important;
  margin-top: 0.5rem !important;
  background: #000 !important;
  color: #fff !important;
}

.WAMuiChipInput-input-7 {
  padding: 18.5px 14px !important;
}

.WAMuiChipInput-inputRoot-6 {
  margin-left: 0.5rem !important;
}

.MuiChip-deletable:focus {
  background-color: #000;
  color: #fff;
}

.MuiChip-deleteIcon {
  color: #fff !important;
}

.WAMuiChipInput-underline-18:after {
  border-bottom: 2px solid transparent !important;
}

.MuiInputBase-input {
  color: #fff !important;
}

/* Textarea */
textarea {
  font-family: "Roboto" ,sans-serif;
  font-size: 1rem;
  font-weight: 300;
  width: 100%;
  padding: 18.5px 14px;
  color: #fff !important;
  box-shadow: 0px 14px 24px rgba(0, 0, 0, 0.7);
  background: rgba(0,0,0,0.75) !important;
  border-radius: 6px;
  border: 1px solid rgba(255,255,255,0.25) !important;
  border-color: rgba(255,255,255,0.25) !important;
}

/* ============

DETAIL FORM & SUBMIT FORM

============ */
.slide-out {
  position: absolute;
  right: -100%;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  display: none;
}

.slide-out.opened {
  right: 0;
  opacity: 1;
  display: flex;
}

.slide-out .modal-close-btn {
  position: absolute;
  right: 80px;
  top: 80px;
  color: #fff;
  font-size: 52px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .slide-out {
    height: auto;
  }
  .slide-out .modal-close-btn {
    position: absolute;
    right: 25px;
    top: 35px;
    color: #fff;
    font-size: 32px;
    cursor: pointer;
    font-weight: 300;
    z-index: 5;
  }
}
